[2017-04-12 03:46] Cheeseness opened #1 "Initial Concept Art"
Ignore this :D
![lightsoda_concept](https://cloud.githubusercontent.com/assets/1570520/24940399/335a1d8a-1f86-11e7-9d83-b54ceaff32db.jpg)
![cheese_concept](https://cloud.githubusercontent.com/assets/1570520/24940390/264b1fc2-1f86-11e7-9002-be8cd8822a84.png)

[2017-04-12 03:46] #1 closed

[2017-04-12 16:56] lightsoda opened #3 "Load AssetBundles locally"
It would be preferable to load AssetBundles from local path, rather than having them hosted.

[2017-04-12 16:57] lightsoda opened #4 "Add single player mode"
Besides hosting and having a second client it should be possible to host a single player game.

It would spawn your character and an AI controlled character.

[2017-04-12 16:58] lightsoda opened #5 "Add possibility to select and load different tables"
Currently Table01 is loaded from the BaseTable, this should be extended with a list of tables to choose from when starting/hosting a game.

[2017-04-12 16:59] lightsoda opened #6 "Add possibility to have variants for paddles"
Paddles are spawned from the network manager and thus seem to ignore the AssetBundle variants.

We need to figure out a way to make it work to have them load from AssetBundles.

[2017-04-12 17:01] lightsoda opened #7 "Configurable AssetBundle variants"
Currently the two variants (normal, alternate) are hardcoded, it should be possible to configure this more dynamically.

Unless it's prefereable to keep it hardcoded.

[2017-04-12 17:02] lightsoda opened #8 "Fix basic player movement"
Currently the characters move up and down, not restricted in any way.

[2017-04-12 17:04] lightsoda opened #9 "Add a main menu"
Could be a fixup of the current menu showing up with the network interface et.c. But we could also add a separate main menu ahead of this. Either way, we'd need a main menu with options like Play Game, Options, Quit...

Keep in mind that the assets used for the menu should be in AssetBundles to allow for variants.

[2017-04-13 05:55] #3 closed

[2017-04-14 08:40] fragmental opened #19 "Ball movement erratic and gets stuck"
Ball movement can be erratic.  Ball gets stuck, or bounces forever in the same location.  Resetting the Ball Position doesn't always function as one might expect(instead of moving along the floor it bounces around).

I'm not sure the best way to solve this, but I wanted to verbalize the issue so we can address it.

[2017-04-14 08:57] ghost commented on #19
- On resets it will bounce in the z direction in the same spot
- Shoot off in the wrong direction on collision

These can probably be solved by better level design:
- Bouncing back and forth along the Y between walls
- Gets stuck under the ramp

[2017-04-14 10:11] fragmental commented on #9
I have some experience using UGui.  I noticed the menu so far is using OnGui, which is nice from a programmer's perspective, but can use a lot of cpu cycles.  Should I go ahead and start working on the menu now or should that wait for later?  I could go ahead and create a mockup scene using ugui and then we could modify as needed?

I don't know how uGUI will factor into using AssetBundle assets ho

[2017-04-14 10:20] jctwizard commented on #19
Pinball maybe solves the getting stuck amid bumpers by spacing them out and having them in diagonal or triangular formations also making the bumpers themselves fairly large.

[2017-04-14 10:30] Cheeseness commented on #9
We were previously discussing  and looking toward an implementation that had menu behaviour scripts dynamically applied when menu scenes were loaded based on the name of the GameObject that represents each menu item. The hope then being that menu behaviour would be entirely separated from menu presentation, and multiple contributions for a given menu would be easier to implement/work with.

[2017-04-14 10:34] Cheeseness commented on #19
Is this resolved by #18 ?

[2017-04-14 10:37] Cheeseness commented on #4
@bobsayshilol has been continuing to work towards resolving this one bobsayshilol/pongball@f85c6f7f8b7519335e856b6d2c444fc86ab2e49d

[2017-04-14 11:31] fragmental commented on #19
@Cheeseness This is what remains after what #18 fixes.
Edit:  #18 keeps the ball from clipping through colliders when it's moving quickly.

[2017-04-14 11:37] Cheeseness commented on #19
Ah, gotcha! For some reason I missed the timestamp and thought this was from yesterday >_<

[2017-04-14 11:55] fragmental commented on #9
@Cheeseness I honestly have no idea how to do that, but it sounds cool.  In the meantime, I made a placeholder.  #20  I really won't be hurt in the slightest if it gets scrapped later, but I can also improve upon it if need be.

[2017-04-14 20:23] jctwizard commented on #4
as @bobsayshilol is no longer able to complete this issue I will try and take it on as I've been looking for something to dive into and would like the challenge! I have taken a look at what was being done on the forked repo and starting to wrap my head around it.

[2017-04-15 02:39] Cheeseness commented on #9
With #20 merged now, I might close this. People can iterate on or improve on what's there, but for now, this is good :)

[2017-04-15 02:39] #9 closed

[2017-04-15 03:19] ehne opened #21 "LAN system overhaul"
TL;DR,  No IP addresses, connection dialogs, or decisions about Hosting or Joining

I'll be reworking the lan system to be more streamlined by using captainMess.
pretty much i'll be doing:
- [ ] use only one button for match-making (over wifi, no need to 'host' and 'join' games)
- [ ] making it look pretty

feel free to add suggestions!

Edit:
Currently we have a simple unity networkingsystem that

[2017-04-15 03:32] Cheeseness commented on #21
@bobsayshilol @lightsoda and @jctwood have been poking around with networking related stuff in some form or another. It'd be good to get their thoughts and perspectives along the way.

Edit: I think it'd also be good to explain some pros/cons of what we have now vs [CaptainsMess](https://github.com/hengineer/CaptainsMess)

[2017-04-15 05:00] ehne commented on #21
seems a bit stupid to do all of that for one bit of the game

[2017-04-15 05:00] #21 closed

[2017-04-15 05:03] ehne opened #22 "UX/UI improvements"
## The UI desperately needs a fix.
So a will make most of the menus and buttons/text fields look nicer
- [x] main menu
- [ ] connection dialogue

suggestions welcome!

-darcy

[2017-04-15 08:27] jctwood commented on #22
I think @fragmental may also be doing work on some UI, they posted an image at some point in the irc of the main menu looking nicer.

[2017-04-15 08:42] fragmental opened #25 "High CPU usage in build"
I don't know if this is just a quirk of my machine or if it's something else.

Let me know if you see it too.

It's not low in the editor either, but it's something like a quarter of the build usage.

[2017-04-15 19:30] lightsoda opened #26 "Implement kgunns table variant"
Import kgunns table, fix proper naming convention to make kgunns variant work, and implement basic functionality based on table.

[2017-04-16 13:39] ghost commented on #26
Still to do:

1. Fix paddles placement for kgunns table
2. Controllable flippers

[2017-04-16 13:41] ghost commented on #5
Fixed in #28

[2017-04-16 13:41] #5 closed

[2017-04-16 21:37] ghost commented on #26
Closing this. Gameplay changes will have to be made outside of this issue.

[2017-04-16 21:37] #26 closed

[2017-04-17 02:09] Cheeseness opened #34 "Add Credits Screen"
The credits screen will need to parse and combine several plain text files (with unix style line endings!).

* Assets/resources/credits/credits-git.txt
* Assets/resources/credits/credits-assets-git.txt
* Assets/resources/credits/credits-extra.txt

The first two are generated using the following command, one in this repo and the other in the asset sources repo (with the output filename changed):
`g

[2017-04-17 04:54] Cheeseness commented on #4
With the merging of #31, I think we can call this one closed for now and open. Future issues can be opened to refine/build upon what we have here.

[2017-04-17 04:54] #4 closed

[2017-04-17 05:01] Cheeseness commented on #7
@lightsoda Have you worked on this as part of the variant stuff you've been working on over the past couple of days?

[2017-04-17 11:30] Cheeseness commented on #34
93acadeb571aa4149b8a432c6f5ae5bded710d84 Adds initial versions for the three required files.

[2017-04-17 12:47] Cheeseness opened #36 "Reset ball button no longer works"
Seems like a recent update broke the reset ball button. Haven't had time to look into it - most likely changes brought in with single player mode?

[2017-04-17 22:10] jctwizard commented on #36
Hmm I will have a look at this!

[2017-04-19 15:53] VideogameScrapbook opened #43 "Add a basic first version of scoring system"
It would be good to add some sort of scoring system soon so that this moves from a "playable concept" to a "playable game".

I know there's some discussion on making the score be influenced by pinball elements, but for a first pass it could just involve basic score counters on each side, incrementing the score by 1 when the ball passes a certain collider on each side, and respawning the ball.

I'v

[2017-04-19 18:11] jctwizard commented on #43
The trick will be syncing the score with all players across the network. If you want to tackle the scoring probably worth taking a look at this: https://docs.unity3d.com/Manual/UNetStateSync.html and ensure the score is only updated server side when the network is active.

[2017-04-19 23:13] jctwizard commented on #43
I'm happy to look at integrating the scoring with the networking system. :)

[2017-04-19 23:17] VideogameScrapbook commented on #43
As I said elsewhere, I got a system in place for the local scoring which can be modified to be networking friendly. @lightsoda, feel free to reassign to @jctwood since I'm not sure if and when I'll be able to contribute next.

[2017-04-20 07:04] fragmental opened #47 "Variant Issues"
So, I talked to @lightsoda and he set me right on how to check variants in the editor.  I had been leaving asset bundles on simulation mode.   I didn't know you had to build the assets and then turn off simulation mode.  So I did that.  And discovered something interesting.

https://www.evernote.com/l/ATqIt9F33p1IVYxKKtkvYyFRBVZ8gFp2VdgB/image.png
:D

This is Upstream Master. variant kgunn table1.

[2017-04-20 07:08] ghost commented on #47
Yeah, that's the ramp. I've started to realize that having them as variants is probably a bad idea, since they are basically made to fit a specific table anyway.

[2017-04-20 07:10] fragmental commented on #47
Probably true.

Also, there seems to be some weirdness with kgunn variant on table 2 as well.  The ball sometimes, but not always, falls off the map.  I suspect it is a related issue.

[2017-04-20 07:12] ghost commented on #47
Ok, his variant on his table? It has seemed pretty stable for me lately.

Also, off the top of my head things that can possibly break a variant:

1. Wrong name on file
2. Wrong name on mesh
3. Wrong name on material

[2017-04-20 07:14] ghost commented on #43
Unassigned, anyone who's up for it feel free to work on this.

[2017-04-20 07:17] fragmental commented on #47
This is upstream master, still.

[2017-04-20 07:33] Cheeseness commented on #47
Yes. This needs fixing.

The ball seems to fall outside of the map whenever hitting one of the objects that the flippers are attached to (on table 2)

[2017-04-20 07:39] fragmental commented on #47
Also, lightsoda variant table 2, the ball sometimes falls off the map when it's being reset after scoring.   I don't know if this is related to variants or scoring, or possibly some bad geometry somewhere?  I don't know.   So far I haven't seen it fall off the map with lightsoda variant table 1, though.
Edit:  Ok, this one is caused by the ball spawning too low.
Edit2:  Or the floor being a little

[2017-04-20 08:52] fragmental commented on #47
All the issues with table 2 weren't related to variants, they were related to the ball spawner being too low or the floor being too high :/

Now the only problem is with the ramp/tube in table1 kgunn variant.

[2017-04-20 11:55] Cheeseness commented on #36
With @VideogameScrapbook's automatic ball reset changes, I feel like the remaining stuff here isn't so important. @jctwood, are you happy with this issue being closed for now?

[2017-04-20 12:10] jctwizard commented on #36
I'm happy with that now that the main game loop is in!

On Thu, 20 Apr 2017 at 12:55, Cheeseness <notifications@github.com> wrote:

[2017-04-20 12:12] Cheeseness commented on #36
In that case, closed with https://github.com/Double-Fine-Game-Club/pongball/commit/98fb3711d4671e049bb5f6af26ffda130b517a96 :D

[2017-04-20 12:12] #36 closed

[2017-04-20 22:00] kyle3wynn opened #51 "Update kyle3wynn SFX from assets repo."
The new SFX have a 1 at the end because just overriding the existing files wasn't working.

[2017-04-21 02:28] Cheeseness commented on #43
Done \o/

[2017-04-21 02:28] #43 closed

[2017-04-21 02:29] Cheeseness commented on #47
Alrighty, going to close this, as #45 removed the ramp from table 1 and everything else seems to have been sorted?

[2017-04-21 02:30] Cheeseness commented on #6
This is now doubly relevant as we have multiple paddle contributions beyond the default "block" (maybe we want to keep that as an option?) https://github.com/Double-Fine-Game-Club/pongball-assets/pull/9

[2017-04-21 02:36] fragmental commented on #51
So, the files need to be updated from the assets repo so they can be quickly overwritten in the future?

[2017-04-21 02:46] Cheeseness commented on #51
The updated files in the asset repo need to replace the ones in the game (ignore the stuff about files with 1 - I removed those as they were duplicates)

[2017-04-21 05:16] fragmental commented on #51
I seem to recall something about replacing files...like, you can do it in your file manager(explorer, finder, etc) but if you do it unity it will automatically add a number.  I might have those reversed.  Anyway, it's something to watch out for.

[2017-04-21 12:55] #51 closed

[2017-04-22 11:50] Cheeseness opened #57 "Add networking to powers"
#56 bought in player powers/abilities thanks to @osse101, but they're not currently synced across the network.

[2017-04-22 11:50] Cheeseness commented on #57
@jctwood You did a good job on quickly syncing scores - are you up for this one too?

[2017-04-22 11:52] jctwizard commented on #57
@Cheeseness sounds great! I'll take a look later today.

On Sat, 22 Apr 2017 at 12:50, Cheeseness <notifications@github.com> wrote:

[2017-04-23 06:42] Cheeseness commented on #34
@ehne I've written code to handle parsing and combining the credits files, which I can add to your stuff when you're ready to commit your GUI work.

[2017-04-23 16:33] jctwood opened #61 "Synchronise table selection"
Currently clients can connect to the server and have a different table this should be corrected so that only the server can select the table and when clients connect it loads the correct one.

[2017-04-23 20:10] jctwizard commented on #57
Should hopefully be closed by #62 Sorry it took so long for me to get round to implementing this, Currently I am a little unsure if it working over the network is just a result of background input and all paddles receiving the same input but I tested it thoroughly and I'm very sure it is working...

[2017-04-24 00:38] ghost commented on #19
https://drive.google.com/open?id=0B4DlVPd_1DaUZU85RXp3ZkZvR2s
https://drive.google.com/open?id=0B4DlVPd_1DaUalBobUVyQm1xbEE

[2017-04-24 00:47] Cheeseness commented on #6
Thanks to @lightsoda, #59 addresses the back end side of this, but we still need UI

[2017-04-24 01:02] jctwood opened #65 "Network Table Obstacles"
Certain table obstacles should be synced over the network.

[2017-04-24 01:02] jctwizard commented on #65
@fragmental mentioned that flippers should be synced.

[2017-04-24 01:03] jctwizard commented on #65
@Cheeseness mentioned that gates should be synced.

[2017-04-24 02:44] kyle3wynn opened #67 "Sound Effect not playing for ball colliding with wall on Speedster map."
At least on Speedster, there is no SFX playing when the ball collides with a wall.

[2017-04-24 11:06] fragmental commented on #61
Did your commit solve this?

[2017-04-24 11:07] fragmental commented on #65
apparently gates work.  And I think the spinner does too.

I don't think flippers do, but I honestly forgot to test them.

[2017-04-24 11:09] fragmental commented on #19
So I moved some bumpers under the ramp in table2 just so the ball wouldn't get stuck.... just thought I would mention that.

[2017-04-24 11:24] jctwizard commented on #61
Yes as far as I know but @Cheeseness was able to test it better on his local network.

[2017-04-24 11:25] ghost commented on #61
This is what we did during our testing right, @fragmental, I selected the table as host. Seemed to work fine.

[2017-04-24 11:25] fragmental commented on #61
Yep, yep

[2017-04-24 11:27] fragmental commented on #61
There were a few minor issues with someone trying to connect when there was no host, or the host disconnected before the client.

But those are separate issues, so I think you can probably close this, if it pleases you to do so.

[2017-04-24 11:35] jctwood commented on #61
Okay great! I don't think I can close issues though?

[2017-04-24 11:36] jctwizard commented on #61
Okay sure!

[2017-04-24 11:36] #61 closed

[2017-04-24 11:37] fragmental opened #71 "Online Multiplayer Issue with Ball"
I did some online multiplayer play testing with @lightsoda

I was client side.  He was host.  I didn't realize until later that there's a very good chance that the video I was uploading caused severe latency:/  Need to retest when that's not a factor.

The biggest issue was the ball fighting with my paddle.  It would sort of bounce away and then bounce back and do that repeatedly.  According to li

[2017-04-24 11:39] fragmental commented on #61
oh yeah, gj on that @jctwood

[2017-04-24 11:40] ghost commented on #71
A potential cause for the ball "fighting" the paddle could be the places where we apply force, I don't think that's only server-side atm.

[2017-04-24 11:44] jctwood opened #72 "Add latency output for debugging networking"
Add a latency output to show the quality of the connection, maybe as a debug display so it can be easily removed for final builds.

[2017-04-24 11:46] lightsoda opened #73 "Fix CameraFocus to work with all tables"
Seems like the CameraFocus script is currently hardcoded for a specific table. Make it work for all tables.

Also make sure it works for width+height of table.

[2017-04-24 11:56] jctwizard commented on #71
Yeah I think we should disable the collision on the client's paddles perhaps?

[2017-04-24 12:08] fragmental commented on #71
#74 addresses the
NullReferenceException: Object reference not set to an instance of an object
Ball.OnCollisionExit (UnityEngine.Collision other) (at Assets/scripts/entity/Ball.cs:112)

and disable client side collision with paddle

and a reset ball issue I forgot about.

Edit: But didn't get a chance to test the former.

[2017-04-24 12:12] fragmental commented on #67
The table needs a "Wall" tag on all of the wall objects.  There may be other maps that need this as well.  Table 2 is the one I had open when working on this.

[2017-04-24 15:23] jctwizard commented on #57
Was this closed by #69?

[2017-04-24 15:39] Cheeseness commented on #57
Yes! Thanks for spotting that :)

[2017-04-24 15:39] #57 closed

[2017-04-24 15:41] Cheeseness commented on #72
Resolved by #75

[2017-04-24 15:41] #72 closed

[2017-04-24 15:42] ghost commented on #73
Fixed in #76

[2017-04-24 15:42] #73 closed

[2017-04-24 15:42] Cheeseness commented on #34
@ehne This issue has become higher priority over the past few days and I think we need to get this in ASAP I'll take over on this one and implement it in the morning. Thanks heaps for your efforts!

[2017-04-24 15:46] Cheeseness opened #77 "Refine Paddle Controls"
Paddle controls need some refinement. @fragmental is keen to work on this.

The following options have been discussed (there's unlikely to be value in combining them, so consider them separate things to weigh up the value of):

* Rotational controls
* Curved colliders
* 2D paddle movement (with paddle vector at impact influencing ball deflection vector)

Additionally, "serve" mechanics needs to be

[2017-04-24 15:50] Cheeseness opened #78 "Support Multiple Input Devices"
For local multiplayer to be functional, the game needs to handle multiple input devices.

Discussion during today's contributor catchup identified that it would be desirable to address or at least design any implementation with consideration for user configurable key/button bindings.

[2017-04-24 16:01] Cheeseness opened #79 "Improve Game Setup Menu"
The current temporary game setup menu could do with some improvement (replace with ugui?).

Matchmaking buttons can be dropped from the online config - we've decided to drop that functionality for now.

During today's contributor catchup, it was suggested that asset/table/etc. selection should probably use left/right buttons to seek through available options as a scalable alternative to showing ev

[2017-04-24 16:04] Cheeseness commented on #19
#68 is relevant here.

[2017-04-24 17:01] jctwizard commented on #65
So I'm looking at creating a system for easily (in a few lines) networking obstacles with an activate/deactivate method which would be replicated across clients.

Unfortunately when I build, the flippers are not spawned in Table02 for the build. Running in the editor is fine. I am making sure to build asset bundles too. Anyone had this issue before?

[2017-04-24 19:02] fragmental commented on #65
I don't recall having that issue.

[2017-04-24 19:05] jctwizard commented on #65
Would be great if someone could check. I really cannot work out what is preventing the paddle from appearing in the build!

[2017-04-24 19:12] fragmental commented on #71
So here's an interesting thing.  Network Send Rate actually changes a m_SendIntervalValue in the prefab.

https://docs.unity3d.com/ScriptReference/Networking.NetworkSettingsAttribute-sendInterval.html

Changing it from 9 to 29 changed it from 0.11111111 to 0.033333335

I didn't get this changes in my PR, because unity was being weird about updating my prefabs or something, so they didn't show up a

[2017-04-24 19:15] fragmental commented on #34
@Cheeseness Do you have experience working with setting the text of a text ugui object or with ugui scrollrect?

[2017-04-24 19:16] fragmental commented on #79
That's a really useful image, thanks. (I assume that's an image, and not a screen cap of some ugui elements?)

[2017-04-24 19:18] fragmental commented on #78
I may do this first today, just because.  Sometimes the hardest thing for me is deciding what to do first.

Edit: by just because I mean, because playtesting

[2017-04-24 19:31] fragmental opened #81 "Add the new music/audio from the assets repo"
I need to do that unless someone wants to.  I'm kind of putting it off right now in favor of other things.

[2017-04-24 19:34] fragmental commented on #65
alright, apparently everything in the variants folders need a partner in the other variant folder.  Anything without a partner won't show up if you choose the variant without it.  So if we don't have a different one we can just copy the one that's already there.

[2017-04-24 19:52] #65 closed

[2017-04-24 19:53] jctwizard commented on #65
See #80 for information on networking obstacles. Currently only allows activate/deactivate functionality but can be expanded for other needs. Activate and deactivate are just descriptive and functionality is left to implementation as seen in FlipperController.

[2017-04-24 20:16] fragmental commented on #79
https://forums.doublefine.com/topic/17182-concept-art/?do=findComment&comment=403659 link to image @KGuNN45

If we do something like this I might able to fake the ui button borders, but it might better to have a ui image for the border.

[2017-04-24 20:33] Cheeseness commented on #79
Yeah, it's something I slapped together quickly in Inkscape a few days back

[2017-04-24 20:36] fragmental commented on #78
This is turning out to be complex than I had anticipated.

Ok it seems like first we need to set up all the inputs for both devices.
http://answers.unity3d.com/questions/333923/joysticks-and-the-input-manager-joystick-1-recogni.html

The defaults should be for xbox360 controllers.
Reference for that can be found here.
http://wiki.unity3d.com/index.php?title=Xbox360Controller
Looks like they may ha

[2017-04-24 21:26] Cheeseness commented on #19
Closed by #68

[2017-04-24 22:44] fragmental commented on #71
https://drive.google.com/file/d/0B4DlVPd_1DaURzZ2NHA5RXNGR28/view this is host side

[2017-04-25 00:55] fragmental commented on #78
https://github.com/fragmental/ControllerManager this could potentially useful

[2017-04-25 02:04] fragmental opened #83 "Merging Speedster table new changes"
https://github.com/fragmental/pongball/tree/boostpad_branch

Ok, I checked out the boostpad_branch from Kgunn's fork
I rebased the branch with the commits from master

However there were a bunch of material changes for a shader test and I'm not sure how to resolve that.

[2017-04-25 06:00] Cheeseness commented on #34
Resolved by #84

Don't need no scrollrects :D

[2017-04-25 06:00] #34 closed

[2017-04-25 07:56] fragmental commented on #79
So, how do we want to choose between network play vs local play  and local one player vs local 2 player in the menu?

[2017-04-25 10:45] fragmental commented on #78
#86 addresses, but does not entirely solve this issue.

In the time I had I was unable to satisfactorily solve the problem of supporting multiple devices or multiple operating systems with one device.

here is a spreadsheet of all the mappings
https://docs.google.com/spreadsheets/d/1kVCnyqB_bOmdG4OHTMRGA_RJbEJmf2IQxUTzeJce8hw/edit?usp=sharing

other buttons probably unmapped but should be mapped
s

[2017-04-25 19:44] ghost commented on #77
Taking a look at curved colliders.

Or wait, were we going to check rotation first? I'll hold off on this.

[2017-04-25 22:00] Cheeseness commented on #83
I believe this was resolved by #89 \o/

[2017-04-25 22:00] #83 closed

[2017-04-25 22:02] Cheeseness commented on #77
I think we're pushing off messing with rotation for now. Curved colliders feels like a safer short term area to investigate with low risk of lost time.

[2017-04-25 22:57] fragmental opened #92 "Feature: Themes/Material switching"
I'm not sure how we could implement this, and I suspect we may not have time before release, but it would be nice to have themes for tables that would essentially just change all of the materials.

One way we could do this maybe is to have 2 prefabs of the geometry in the scene, with two sets of materials, and just enable and disable them.

For example,  the speedster table currently has some mate

[2017-04-26 01:16] jctwizard commented on #79
I have started exposing the functionality of the LoadAssets script so it can be tied to the UGUI. Currently several methods exist:

int GetCount(string type) // returns the number of a certain type available types are: "table", "variant" or "paddle"

string GetName(string type, int index) // takes the index of a certain type and returns its name

void LoadScene(int variantIndex, int tableIndex) //

[2017-04-26 01:57] Cheeseness commented on #92
This would be super nice to have, but definitely feels out-of-scope for Amnesia Fortnight. Let's circle back and pick this up afterward.

[2017-04-26 02:00] Cheeseness commented on #78
Let's call this resolved with #91

Input bindings have been modified by @osse01 a little. They need to be tuned, but are:

(10:09:10) Osse: Current controls are: p1) up down space left-alt p2) y h q z
(10:12:45) Osse: p1) right-ctrl right-ctrl p2) left-alt left-ctrl
(10:12:48) Osse: for flippers

I'm going to close this for now. We can reopen an issue for changing the bindings if we need.

[2017-04-26 02:00] #78 closed

[2017-04-26 02:03] Cheeseness commented on #22
I'm going to call the remainder of this issue superseded by #79

[2017-04-26 02:03] #22 closed

[2017-04-26 02:04] #19 closed

[2017-04-26 02:05] Cheeseness commented on #7
After further discussion, it seems that asset variants are as configurable as tables are (a matter of dropping things in the right place and adding their name to a list of available variants). That's configurable enough for me!

[2017-04-26 02:05] #7 closed

[2017-04-26 02:07] Cheeseness commented on #6
#79 should resolve the UI side of things. I'm going to that supersede this one and close things here..

[2017-04-26 02:07] #6 closed

[2017-04-26 02:07] Cheeseness commented on #71
Adding this to the post-AF milestone for now unless someone wants to look at it in the meantime (@jctwood?)

[2017-04-26 02:08] Cheeseness commented on #25
Given the state of things currently, I'm going to push this into the post-AF milestone, where we can approach optimisation and performance analysis in a more relaxed manner :D

[2017-04-26 02:09] Cheeseness commented on #8
Paddle movement is currently restricted to something close to the bounds of most tables. With some, there's enough room for the ball to slip past the paddle though, so that'd be nice to look at/address if possible.

[2017-04-26 02:18] Cheeseness opened #95 "Sync Speedster Table Updates"
https://github.com/Double-Fine-Game-Club/pongball-assets/pull/23 updates materials, textures and geometry. These need to be brought across into the main repo (note that the table needs to be rotated 180 degrees along the Y axis after importing in to Unity).

[2017-04-26 02:28] Cheeseness opened #96 "Paddle Drift In Online Mode"
Paddles will sometimes drift up or down in online mode. Could be some unintended physics force at work on the paddle? Leftover movement from AI? Invisible goblins pulling at your paddle? You decide!

[2017-04-26 02:35] Cheeseness opened #97 "Sync/Implement kyle3wynn's Audio Updates"
@kyle3wynn has updated a bunch of audio files and added some new ones. These need to be brought across from the assets repo and/or implemented.

[2017-04-26 02:48] Cheeseness opened #98 "Add Win Conditions"
Score threshold feels like the best choice for determining a winner. We need to display some kind of game summary screen showing this sort of information

* points scored by each player
* winning player
* anything else we add along the way (match duration, goals scored, paddle hits?)

Given the current state of the game and timeframes, it feels worthwhile to push this one off till after AF.

[2017-04-26 02:51] Cheeseness opened #99 "Update Paddle Movement Bounds"
At the moment it's possible for the ball to slip past the paddle (most noticeable in Table01 where the ball can get stuck bouncing against the bumpers above and below the goals). The movement bounds should be expanded a little (doesn't matter if paddles can intersect with the walls of some tables).

[2017-04-26 03:37] jctwizard commented on #79
When dealing with networking the following methods are relevant inside NetworkSetup which will need added to ScriptHolder:

void BeginHosting(int port) // takes the port and begins hosting using it

bool ConnectToServer(string IP, int remotePort) // takes an IP address as a string and a port and returns whether it successfully connected

bool LoadTableOnClient() // attempts to load the table the s

[2017-04-26 03:43] jctwizard commented on #79
I have also added a few more vital functions to the LoadAssets script which will need called from parts of the menu:

void SetSinglePlayer(bool singlePlayer) // Determines whether or not the second paddle is an AI, takes a bool true or false

void BeginPlaying() // Must be called TO BEGIN THE GAME! Loads the paddles in and sets them up to be players or AI

[2017-04-26 03:44] jctwizard commented on #79
This should now set up everything. LoadAssets contains an array of player prefabs which will need updated from the inspector with all of the variations. These will need to have their names hardcoded in to the dictionary called paddleNames in LoadAssets too!

[2017-04-26 04:01] #99 closed

[2017-04-26 04:24] Cheeseness commented on #96
Closed by #101

[2017-04-26 04:24] #96 closed

[2017-04-26 05:36] Cheeseness commented on #67
Fixed in #102

[2017-04-26 05:36] #67 closed

[2017-04-26 05:37] Cheeseness commented on #97
Whoops, wrong issue!

[2017-04-26 05:37] Cheeseness commented on #95
Closed by #102

[2017-04-26 05:37] #95 closed

[2017-04-26 06:42] ghost commented on #8
It's just a float value that can be increased here: https://github.com/Double-Fine-Game-Club/pongball/blob/master/Assets/scripts/entity/PaddleBase.cs#L70

[2017-04-26 06:52] Cheeseness commented on #8
Oh whoops. I'd already done this and had forgotten to close the issue.

Fixed by #100

[2017-04-26 06:53] #8 closed

[2017-04-26 07:25] fragmental commented on #79
It appears that HasFinishedLoading() never returns true.

I get these two errors
`There is no scene with name "Table_Clean" in
UnityEngine.Debug:LogError(Object)
AssetBundles.AssetBundleLoadLevelSimulationOperation:.ctor(String, String, Boolean) (at Assets/AssetBundleManager/AssetBundleLoadOperation.cs:43)
AssetBundles.AssetBundleManager:LoadLevelAsync(String, String, Boolean) (at Assets/AssetBund

[2017-04-26 08:53] Cheeseness opened #104 "Obstruct Power Doesn't"
The obstruct power should prevent a player's paddle from moving.

Rather than blocking via physics (which gets awkward if the paddle is moving at speed), it's probably best to just set velocity to 0 and disable player movement.

[2017-04-26 09:06] ghost commented on #104
Is that the intended use, or is it supposed to block the ball?

[2017-04-26 09:30] Cheeseness commented on #104
It's meant to be an offensive power that freezes a player's paddle. @osse101, you designed them - could you confirm in case I've got my wires crossed?

[2017-04-26 09:34] ghost commented on #104
Either way is fine with me, just wondering.

[2017-04-26 09:52] osse101 commented on #104
The design is to restrict the movement of the opponents paddle.  My aim is to stop them from defending half of their area.  And that has turned into 'throwing' the cube at their paddle and if it hits then they are frozen.
The obstruct object is solid so it repels balls.

There are still a couple directions it could go.

(its much more broken in net play)

[2017-04-26 10:02] Cheeseness opened #107 "Make sure that all variants have models for all entities"
Some variants are missing models for some stuff. Things that are unique to a table (ramps, special geometry, etc.) should be in the shared folder rather than made a variant, I think?

[2017-04-26 10:52] ghost commented on #107
Yeah, unique features should not be variants. IMO.

[2017-04-26 14:46] jctwood opened #113 "Add paddle selection for each player"
Add the ability to select the paddle for each individual player. Make sure it is synced over the network. Also allow the paddle to be set as an AI.

[2017-04-26 14:50] Cheeseness commented on #97
Let's call this closed by #97

[2017-04-26 14:50] #97 closed

[2017-04-26 16:06] VideogameScrapbook opened #115 "Adjust keyboard and gamepad bindings"
When I started the latest build, I assumed that the arrow keys or WASD would control Player 1 (as they had in previous builds). Since this wasn't working, I assumed that the controls might be broken. @Cheeseness told me through IRC that Y and H are the current controls for player 1.

Unless there is a good reason to keep the left player controls as Y/H, I'd recommend changing it to W/S (since a lo

[2017-04-26 16:09] VideogameScrapbook opened #116 "Add instructions screen"
The instructions screen should at a minimum explain the controls, scoring system, and overall objective.

[2017-04-26 16:23] fragmental commented on #115
They're yh because using left shift, left ctrl, left at with yh is uncomfortable.

[2017-04-26 16:25] fragmental commented on #115
Ideally 2 players on one keyboard would use 2 hands.

[2017-04-26 16:28] fragmental commented on #115
I don't know how to edit comments on phone. Should have read using one hand on wd and one hand on left shift/alt/ctrl is uncomfortable

[2017-04-26 16:30] fragmental commented on #116
Not a bad idea.

[2017-04-26 16:30] fragmental commented on #116
I would add powers to this list.

[2017-04-26 16:51] VideogameScrapbook commented on #116
I'm currently working on this issue.

[2017-04-26 21:41] VideogameScrapbook commented on #116
I have completed this as far as I can based on testing in offline/online. Once my instructions branch is merged, this ticket can be closed. Other people are also welcome to improve/change the instructions as needed.

In IRC, @Cheeseness requested that the instructions generate the key bindings based on what was set in InputManager in case we change the keys later. Unfortunately, InputManager doesn

[2017-04-26 21:51] VideogameScrapbook commented on #115
Here's my suggestion after some thought: Up/Down/Right Shift/Right Ctrl for right player. W/S/Left Shift/Left Ctrl for left player, Besides being symmetrical and more likely to be discovered based on similar mappings in other games, this would allow either player to use 1 or 2 hands for their controls.

I don't want to step on anybody's toes so I've I will update the description according to these

[2017-04-26 21:59] VideogameScrapbook commented on #115
@Cheeseness, @lightsoda, @fragmental, what do you think of my suggestion in the comment above?

[2017-04-26 22:28] VideogameScrapbook opened #123 "Fix 'rubberband' controls seen on non-host side"
@lightsoda and I confirmed the following on both of our ends (my average ping to his computer is pretty high: 183ms): The host player moves fine on both ends. However, the host cannot see the non-host move (except gradually 'drift' upwards. The non-host can move on his end, but the movement rubber bands towards the center. Then the rubber banding origin drifts upwards towards the top of the screen

[2017-04-26 22:30] Cheeseness commented on #123
@osse101 said it didn't happen after rebuilding the client. Could be a busted build. Can you confirm?

[2017-04-26 22:32] VideogameScrapbook opened #124 "Make it possible to score on Table_Clean"
Currently there are no goals setup on Table_Clean.

[2017-04-26 22:47] Cheeseness commented on #79
OK, this stuff was merged with #110. It still needs some work/refinement (#113 and some cosmetic changes to match the styling of the main menu?). Going to close this issue now.

[2017-04-26 22:47] #79 closed

[2017-04-26 22:48] VideogameScrapbook commented on #123
@Cheeseness , I can help re-test if you post an exe somewhere that two of us could try (to ensure we're using exact same exe rather than building potentially subtly different exes).

[2017-04-26 22:51] Cheeseness commented on #71
OK, so far as I can tell, this can be closed now. There have been a bunch of ball changes and the last video in this thread shows a physics collision between paddles and bumpers that's no longer relevant. If there are more issues that haven't been resolved, let's open a new thread

[2017-04-26 22:51] #71 closed

[2017-04-26 22:59] Cheeseness commented on #123
I'm on Linux and you're on Windows, so there's always the potential for subtle diffrences!

[2017-04-26 23:09] fragmental commented on #115
Have you tried using WS  and left shift/ctrl/alt with two hands for more
than just a few seconds?  Your hands have to overlap and it's awkward, in
my experience.  I do agree that WS is a more obvious choice for left player
because it is so commonly used, but I don't know if it can be comfortably
used.

Up Down right shift/ctrl/alt should be right player mappings now unless
someone has purposefully

[2017-04-26 23:23] VideogameScrapbook commented on #115
@fragmental, yes, I tested with two hands for about a minute (please note that my proposal doesn't require using the Alt keys at all, which makes a huge difference). With my keyboard and keeping my left hand close to the left edge of the Shift button, it feels good, but I know that hands and keyboards vary. I noticed somebody did a pull request that changed controls a bit but not quite to what I p

[2017-04-26 23:25] fragmental commented on #115
possibly.  There are the power buttons and the flipper buttons.  Which is 3 or 4?

[2017-04-26 23:26] Cheeseness commented on #115
I'm comfortable using WS and left shift/ctrl/alt with two hands and don't have any problems.

Different keyboards, hand sizes and finger preferences, and whether a player is sitting in them middle or to the left of the keyboard are all definitely going to have an impact here - I think anybody offering feedback *must* have had two people sitting at their keyboard for that feedback to be relevant (o

[2017-04-26 23:30] Cheeseness commented on #115
I'm still getting around to reviewing pull requests. I'll see how #122 looks when testing.

[2017-04-26 23:53] osse101 opened #125 "Add network sync to the speedster table"
The center ramp booster direction buttons, the lower path changer buttons, and the spinner too; all change things on the table.  The map needs to be synchronized for all players.

[2017-04-27 00:07] fragmental commented on #115
As for first player left, if no one intentionally changed that, then I did
it by mistake when I was working on the UI.  If I did it, it's a simple
change, and can be done by changing the order of the paddle spawn prefab in
the load assets script in the unity (profiler, is that what it's called?
I'm afk).  But that's only IF I changed it.

Hopefully, at some point we can overhaul inputs and handle

[2017-04-27 01:15] fragmental commented on #123
How did you check the ping?

[2017-04-27 01:41] #98 closed

[2017-04-27 02:15] Cheeseness commented on #116
I feel like bringing in a third party input manager might be overkill at the moment. I'll do some reading up and see what's doable (Guavaman has a bit of a vested interest in people feeling that the default input system isn't capable of doing stuff, so I'd like to look a little farther beyond that thread and others like it before giving up).

#116 has been merged, but I'd like to leave this issue

[2017-04-27 02:44] Cheeseness commented on #124
I'd found it super valuable like this for testing (hadn't taken any goals out - I just don't think we ever put any in). That said, if people want this table to be a functional table, I don't think that that should stand in the way.

It's worth noting that Table_Clean (currently named "Empty") is no longer the default/first item in the level list, so its prominence is much lower than it has previou

[2017-04-27 02:57] fragmental opened #127 "Flippers are too small and ineffectual"
I've put some thought into how flippers are only in one table and are too small, and don't provide enough force.  Table 2 is kind of designed for them, so dropping them would probably include dropping the table.  I don't think that's a good idea, and additionally, no one has suggested it.

On a controller using right and left bumpers/buttons is great for flippers.  I realize it's potentially an is

[2017-04-27 03:03] fragmental opened #128 "Update LogoSwitcher with latest assets"
There are a few.  There are some directions https://github.com/Double-Fine-Game-Club/pongball/blob/master/Assets/entities/ui/Logo_Instructions.txt

Stretch goal, add code that automatically changes the logo every x seconds

[2017-04-27 03:10] Cheeseness commented on #128
What's missing? So far as I'm aware it's only Mythalore's and that's only because it came in this morning.

[2017-04-27 03:36] fragmental commented on #78
I want to reopen this, because the way unity handles joysticks is garbage, and this issue has the most important information in it.  Feel free to link other issues to this, or rename this , if possible

Buttons are different across multiple devices. And they're different on the same device on each platform.

To reiterate, we should map to xbox360 bindings on win32, until we can find a better solut

[2017-04-27 03:42] Cheeseness commented on #78
So far as I can tell they're consistent across all platforms (it's Windows users reporting that the powers and flippers aren't bound). Remember that you're way out of sync with upstream. It might be best to hold off on opening/reopening issues till you're all caught up.

I'd rather have fresh issues to address specific concerns thank link to this issue, but I'll leave it open for now until it look

[2017-04-27 04:09] fragmental commented on #78
" but I'll leave it open for now "

it's closed.

"So far as I can tell they're consistent across all platforms. "
Time and testing will tell.  Seems like everyone and their mother wants to remap them, though.  The information is here for anyone who wants it.  ~~I have nothing else to add.~~

[2017-04-27 04:20] fragmental commented on #78
Well, I say that, but here is the relevant information on the bumper buttons

https://github.com/Double-Fine-Game-Club/pongball/blob/8d2cb5448314001c2cc6104c521cbfa57d966e5a/ProjectSettings/InputManager.asset
No one has remapped the flipper controls so they're still set to R1 and L1 on my controller, which is Button6 for R1 and Button7 for L1

For xbox360 the same buttons on windows and linux  sho

[2017-04-27 04:24] Cheeseness commented on #78
I thought you'd opened it, sorry.

Time and testing *have* told. Testing feedback is why people are asking for stuff to be changed. Testing feedback is why I'm working on it.

Windows users with Xbox 360 gamepads have reported that the bindings aren't right. What's in the game now doesn't match what's on the [Unity wiki](http://wiki.unity3d.com/index.php?title=Xbox360Controller), so I'm fixing tha

[2017-04-27 04:24] fragmental commented on #78
so, provided at http://wiki.unity3d.com/index.php?title=Xbox360Controller is correct, most, but not all of the relevant buttons on windows and linux will be the same.  it's just osx that has super weird button locations.

And other dinput controllers, like mine will still have to be remapped by the player.

I would be over the moon to see proof that unity has in fact made mapping more consistent a

[2017-04-27 04:29] Cheeseness commented on #78
The wiki page is from 2015. It's definitely out of date for Linux button mappings, but the windows numbers for everything relevant are the match my gamepad on Linux, and based on @lightsoda's pull request and feedback from rheberling in chat, they're matching real xbox 360 gamepad button ordering on Windows.

Let's leave it be for now and grab some feedback from you after you've had a chance to tr

[2017-04-27 04:31] fragmental commented on #78
Change the 6 to a 4 and the 7 to a 5 and the flippers should work with r1 and l1 on your 360 device.

[2017-04-27 04:32] Cheeseness commented on #78
I can work on this on my own, thanks

[2017-04-27 04:37] fragmental commented on #78
My apologies

On Apr 27, 2017 12:32 AM, "Cheeseness" <notifications@github.com> wrote:

I can work on this on my own, thanks

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/Double-Fine-Game-Club/pongball/issues/78#issuecomment-297609079>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AE1A8CycsXXZuwQiJMUQxn

[2017-04-27 04:59] fragmental commented on #115
Not to bring up a dead issue, but I tried and you were correct, w/s is more comfortable when you're left of the keyboard.  Absolutely 100%

Seems like a good reason to make first player right side, though, since middle of the keyboard would be the natural sitting position of a single player.  Possibly trifling detail? *shrug*

[2017-04-27 06:13] Cheeseness commented on #115
I've popped up some changes in #129 that address legitimate bugs that came in with the first implementation, and tries to address some of the comfort/awkwardness concerns laid out here.

[2017-04-27 06:19] Cheeseness commented on #78
Apologies if I've been short here.

I've popped up some changes in #129 that address legitimate bugs that came in with the first implementation (where exactly they originated, I don't know and don't really feel much value in hunting down - the only thing that matters is that they've been fixed), and tries to address the feedback we've gotten today regarding layout awkwardness.

[2017-04-27 12:01] Cheeseness commented on #115
#129 has been merged. I'll close this one here, and we can open new issues (referencing this and others if needed) to address any further refinements/changes that are needed.

[2017-04-27 12:01] #115 closed

[2017-04-27 12:46] Cheeseness commented on #104
Closed by #133

[2017-04-27 12:46] #104 closed

[2017-04-27 13:21] fragmental commented on #81
I guess I should probably tackle this today?  Unless someone else really wants to.  I was just going to set it up so that music plays in order, perhaps starting with a random song and then looping through them?

[2017-04-27 14:13] Cheeseness commented on #128
This is done so far as I'm aware. @Mythalore's came in with #134

[2017-04-27 14:13] #128 closed

[2017-04-27 15:18] Cheeseness opened #139 "Keyboard Paddle Controls Need Tightening"
There's still a lot of momentum in the paddle when playing via keyboard. When moving from one side of a table at full speed and letting go at the midpoint, the paddle will continue pretty much to the far wall before it stops.

This makes precise movement difficult and hampers ball control.

Resolving this feels like the last component of #77 that we need to address in the short/immediate term.

[2017-04-27 16:09] Cheeseness commented on #107
Resolved for now by #136

[2017-04-27 16:09] #107 closed

[2017-04-27 17:41] fragmental commented on #81
#140 solves this, and adds a new music player

[2017-04-27 17:41] #81 closed

[2017-04-27 22:52] Cheeseness opened #145 "Adjust Gamepad Sensitivity"
Movement sensitivity on gamepads feels a bit high (could also be higher on some gamepads than others).

[2017-04-27 22:56] Cheeseness opened #146 "Client Updates Really Slow In Online Mode"
Ball and paddle sync (even running host and client on the same machine) feel super slow at the moment - to the extent that interpolation shows the ball changing directions a long way away from objects it's bouncing off.

[2017-04-28 03:10] fragmental commented on #145
http://www.third-helix.com/2013/04/12/doing-thumbstick-dead-zones-right.html this could possibly prove useful.

[2017-04-28 03:16] fragmental opened #147 "Flippers need to be bigger and work better"
The way they are now they don't really provide a lot of force and they are quite small.

I've been meaning to do this for a while.  They currently work with a hinge joint, but I had difficulty getting the hinge joint to provide significant force.  We might be able to bypass the lack of force by using our own custom force script, or by switching to a different method than hinge joint.

This is prob

[2017-04-28 03:19] fragmental opened #148 "Text needs to be updated for players"
This is an easy fix.  IF you're playing single player, you will be on the right, but right is considered 2nd player in in-game text.

There's not much of an indication which side is which.  We could indicate that i the game somehow or simply use "left" and "right" in place of first and second.

[2017-04-28 04:01] fragmental opened #149 "Power refinements"
In my opinion, spawning the slow power on the ball itself would be much more effective.

And obscure would be more effective if it was more opaque.

The other power(block?) is pretty effective as-is.
Playtested with my nephew earlier and he got me good with the (block?) a number of times.

[2017-04-28 16:15] fragmental opened #150 "Pause"
Pause button.  The ability to pause the game
http://answers.unity3d.com/questions/7544/how-do-i-pause-my-game.html

[2017-04-28 21:44] fragmental opened #151 "Bug: Music Next button is buggy"
This is my fault.  My code.  So I feel it's my responsibility.  I'm not entirely sure the best way to fix it, though.  I thought some more experienced programmers @lightsoda @Cheeseness @jctwood or others, whose skill level I'm not currently aware of, might have some ideas.

Here's the code https://github.com/Double-Fine-Game-Club/pongball/blob/8b8fb3f49588987e6c0cea78c22ee04e02d5fd3f/Assets/scrip

[2017-04-28 22:42] fragmental commented on #151
I happened to have a more experienced coder, my brother,  on hand and he helped me with this.  I want to say my pr fixes this, but it's kind of hard to tell sometimes.

[2017-04-29 02:10] Cheeseness opened #153 "UGUI Menu Options Don't Respond To Mouse In Fullscreen"
I think this is a Linux specific issue, but when running in fullscreen, the menu buttons don't respond to mouse input.

Will try to look into this over the weekend

[2017-04-29 02:33] Cheeseness opened #154 "Menus Need Default Focus"
Right now, it's not possible to navigate the game's menus with a keyboard or gamepad without first clicking on a menu item.

A quick squiz suggests that calling [Select()](https://docs.unity3d.com/ScriptReference/UI.Selectable.Select.html) on a button (cast as a Selectable if something generic is needed) should do it!

[2017-04-29 02:37] Cheeseness commented on #151
I think we need a bit more clarity on what behaviour is being seen here and how to reproduce it.

Is this the "music sometimes finishes early" thing that we saw previously?

If so, does this issue suggest that that bug only manifests itself when a track has been skipped (that could explain why we were having trouble confirming whether or not it was resolved)?

[2017-04-29 02:40] Cheeseness commented on #147
Closing this as a duplicate of #127

[2017-04-29 02:40] #147 closed

[2017-04-29 02:42] Cheeseness commented on #150
This would be great to have. Popping in the post-AF milestone for now.

Pause state would probably want to be synced across the network and require both players to indicate that they're ready to unpause for the game to resume.

[2017-04-29 02:46] Cheeseness commented on #149
Obstruct is what the block power is called in the UI at the moment (probably not a good name for now, as it's pretty similar to "obscure").

Popping this in the post-AF milestone for now.

[2017-04-29 03:07] Cheeseness opened #155 "Add buttons to the about screen"
The about screen needs two buttons that open the GitHub and forums URLs in a browser (the desired URLs are included in the about text).

[Application.OpenURL()](https://docs.unity3d.com/ScriptReference/Application.OpenURL.html) should do what's needed here.

[2017-04-29 04:38] fragmental commented on #151
Yes and yes, and hopefully the pr fixes it.

On Apr 28, 2017 10:37 PM, "Cheeseness" <notifications@github.com> wrote:

[2017-04-29 04:39] fragmental commented on #147
Oh jeez.  My bad.

On Apr 28, 2017 10:40 PM, "Cheeseness" <notifications@github.com> wrote:

[2017-04-29 12:05] Cheeseness commented on #151
Resolved by #152! Does your brother need crediting?

[2017-04-29 14:39] Cheeseness opened #158 "Win prompt appears before player scores are updated."
The fall ball's value isn't added to the winning player's score before the win prompt is displayed, making it harder to read final scores.

![win_scores](https://cloud.githubusercontent.com/assets/1570520/25556262/e1ea499c-2d3c-11e7-970a-9772a1ac1821.png)
#

[2017-04-29 15:09] Cheeseness commented on #151
I did a whole bunch of testing for #152 and I feel that it definitely prevents the skipping that we'd previously seen.

During long play sessions though, I've had music stop after a track has ended (or at least have a pause long enough for me to assume it's stopped?). Hitting the skip button will move to the next track.

I think the current situation is probably better than the previous one, so I'

[2017-04-29 15:13] #139 closed

[2017-04-29 15:13] #77 closed

[2017-04-29 15:14] #145 closed

[2017-04-29 15:15] Cheeseness commented on #145
Closing this with changes in #157. Further tuning can be done, but I'm happy with this for now.

[2017-04-29 15:42] Cheeseness commented on #149
#159 changes the obstruct behaviour a bit.

[2017-04-29 15:56] #154 closed

[2017-04-29 16:22] #155 closed

[2017-04-29 17:35] Cheeseness opened #164 "Scores and win text are missing from online client"
Looks like we've lost scores on clients (that includes the countdown text and win text). This might've happened in the transition to the new GUI stuff, perhaps?

I'm a bit too tired to wrap my head around it at the moment, but @lightsoda suggested that maybe moving the score manager instantiation outside of the if statement in Assets/scripts/LoadAssets.cs:350 might sort things out.

[2017-04-30 08:05] osse101 commented on #149
I'm not sure I like the new obstruct as it lets you stop a player that is rushing to defend the ball near a wall.  A delayed spawn on the opponent is still where I want the design to go. Maybe rename it to "Block"?

Obscure is working pretty well.  It makes it almost impossible to aim the rebound of the ball when defending but you can still get the paddle in front of the ball most of the time.  Th

[2017-04-30 08:19] Cheeseness commented on #149
Personally, I feel like obscure does nothing. I have no trouble following the ball's movement through it. I'd recommend looking towards something that is either totally opaque or is only transparent around the edges.

Definitely agree that its location should be consistent. I'd be looking at covering 1/4 - 1/3 of the playing field on the receiving player's side, but offset enough to allow the padd

[2017-04-30 10:53] osse101 opened #167 "Reset table state on rematch"
This only affects speedster currently, but after the "Player wins" screen comes up and a new match starts, the table should return to the original state.  No central booster active and a closed lower path.

[2017-04-30 11:55] fragmental commented on #149
I was playing a game where I get hit with obscure twice in a row and it was very effective.  If we could replicate that, it might be ideal.

[2017-04-30 12:48] fragmental commented on #151
@Cheeseness I asked my brother if he wanted credit and he said no thank
you.  I am going to try to convince him to get a github account though.

On Apr 29, 2017 11:09 AM, "Cheeseness" <notifications@github.com> wrote:

[2017-04-30 15:18] osse101 commented on #158
I'm not seeing this.  Is it still a problem?

[2017-04-30 15:23] Cheeseness commented on #158
I fixed it in the score_fixes branch. Are you definitely not seeing it in the master?

[2017-04-30 15:27] osse101 commented on #158
My mistake then, it is on master

[2017-04-30 18:34] fragmental commented on #153
I have never seen that.  Which menu?

[2017-04-30 18:44] Cheeseness commented on #153
The main menu. Now that we have keyboard navigation more or less working, it feels less critical. I'm going to push this out to post-AF. It smells like a Unity bug to me.

[2017-04-30 18:46] fragmental commented on #153
Haha.  Smells like.  Acrid, sulfurous.  I know that smell well.

On Apr 30, 2017 1:44 PM, "Cheeseness" <notifications@github.com> wrote:

[2017-04-30 18:46] Cheeseness commented on #164
Resolved by #168

[2017-04-30 18:46] #164 closed

[2017-04-30 18:46] Cheeseness commented on #148
Resolved by #168

[2017-04-30 18:46] #148 closed

[2017-04-30 18:46] Cheeseness commented on #125
Resolved by #166

[2017-04-30 18:46] #125 closed

[2017-04-30 18:48] Cheeseness commented on #158
Resolved by #168

[2017-04-30 18:48] #158 closed

[2017-04-30 19:09] fragmental commented on #151
This one may be pretty hard to track down, because I don't think it happens consistently.  I might play for 3 or 4 long sessions and have it only occur one of those times, and I think the music will also sometimes start back on its own after it has stopped.

[2017-05-01 10:00] Cheeseness commented on #123
Resolved by #169

[2017-05-01 10:00] #123 closed

[2017-05-01 14:49] Cheeseness opened #172 "Change "Variant" label in game setup menu"
The word "variant" means nothing to players and doesn't communicate anything relevant to the context. I know the option doesn't do very much at the moment, but I think this is a small/easy thing to address that's going to alleviate some confusion.

[2017-05-01 15:31] Cheeseness commented on #1
![speedster_new](https://cloud.githubusercontent.com/assets/1570520/25583816/d506a0b8-2ed6-11e7-95f4-f103ddb559eb.png)
![pongball_01_t gif 2616f94fa37411e4df8b83f989de8f05](https://cloud.githubusercontent.com/assets/1570520/25583868/04eecb7a-2ed7-11e7-83ce-f0623cfece93.gif)

[2017-05-01 15:36] Cheeseness commented on #1
![paddle_k2_hit gif 25b4151514ae2ec482962d93ead33046](https://cloud.githubusercontent.com/assets/1570520/25584021/b4f49d60-2ed7-11e7-9b44-1c6540d0631a.gif)
![01_jctwood_highlight_pads gif d715d22fd05a2a167a7b7f745c298b00](https://cloud.githubusercontent.com/assets/1570520/25584022/b539a702-2ed7-11e7-9c20-0d0025ce67fc.gif)

[2017-05-01 15:39] Cheeseness commented on #1
![paddle_kednar1 gif 3687b0ada544ffeb5ddd968813d8c31b gif 8dc26a503f6223ba5866ade56c4e6204](https://cloud.githubusercontent.com/assets/1570520/25584077/f7b996f0-2ed7-11e7-8f36-a866e53f19c3.gif)

[2017-05-01 15:42] Cheeseness commented on #1
![pongballlogo_kgunn_solid](https://cloud.githubusercontent.com/assets/1570520/25584261/9cbce3aa-2ed8-11e7-8222-7acd19784de8.png)
![pongballsuper](https://cloud.githubusercontent.com/assets/1570520/25584178/528a1c80-2ed8-11e7-8dc9-9992524f655d.png)
![pongball_rhcooper](https://cloud.githubusercontent.com/assets/1570520/25584179/528af024-2ed8-11e7-94e7-98dad62488d2.png)
![logo_v7](https://cloud.git

[2017-05-01 16:19] Cheeseness commented on #1
![teamphoto_final](https://cloud.githubusercontent.com/assets/1570520/25585417/bc89f7cc-2edd-11e7-804c-f6b05ee4f3da.png)

[2017-05-02 04:25] fragmental opened #179 "Ball return on score breaks after returning to Main Menu"
Ball return on score breaks after returning to Main Menu
Just as the title says, if you return to main menu from the game, and start a new one, the ball will not return to its starting position when a goal is scored, essentially breaking the game.

[2017-05-02 04:26] fragmental commented on #179
I don't think I'm familiar enough with theses systems to guess what is happening here or what has caused this.  I will take a look any way and see if I can turn something up.

[2017-05-02 04:57] fragmental commented on #149
I never even considered using slow to defend half of my zone, and neither did anyone else I played with.

That does seem like the best use for it.  We were basically just using it to get rid of it so we could get something useful, or trying to using it in other ineffectual ways.

[2017-05-02 05:08] fragmental commented on #179
Relevant error:

MissingReferenceException: The object of type 'GameObject' has been destroyed but you are still trying to access it.
Your script should either check if it is null or you should not destroy the object.
UnityEngine.GameObject.GetComponent[BoostPadForce] () (at /Users/builduser/buildslave/unity/build/artifacts/generated/common/runtime/GameObjectBindings.gen.cs:38)
SpinnerActivator.De

[2017-05-02 06:08] fragmental opened #180 "Multiple copies of ScriptHolder and AssetBundleManager"
The LoadAssets.cs script on the ScriptHolder gameobject and the AssetBundleManager script on the AssetBundlerManager game object both have DontDestroyOnLoad, so they're never destroyed, but a new one is created every time the scene is loaded..
There are a few ways to handle this.

One is the way the SoundManager does it
`//Check if there is already an instance of SoundManager
		if (instance == nul

[2017-05-02 06:10] fragmental commented on #180
What the heck is going on with line breaks in comments?  Do I need to add line breaks in markdown or something?

[2017-05-02 06:13] fragmental opened #181 "Remove Load Assets and Basic Menu Script from Network Manager Game Object"
Remove Load Assets and Basic Menu Script from Network Manager Game Object.
These were left over from making the new menu.

@jctwood is there any reason we should continue to leave these two scripts on the Network Manager object or is it fine to remove them?

[2017-05-02 06:14] Cheeseness commented on #180
You need to leave two empty lines otherwise the Markdown renderer gobbles them up

[2017-05-02 06:16] Cheeseness commented on #179
This only seems to happen if Speedster is the first map loaded. Is that in line with your experiences, @fragmental?

[2017-05-02 06:27] fragmental commented on #179
Oh @Cheeseness haha.  I think I must have opened speedster first every time, even though I did check other tables to see if the effect happened there.

You are correct.  It only happens after exiting to the menu from the Speedster table.  Speedster doesn't have to be opened first, but the error doesn't appear until after Speedster has been loaded, and then unloaded.

[2017-05-02 06:39] fragmental commented on #179
#180 and #181 seem to be completely unrelated from my testing, btw.

Edit: or at least, removing the extra copies didn't fix anything.

[2017-05-02 06:45] Cheeseness commented on #151
I'd be interested to know if isPlaying is true or false when this happens (if anybody's keen to dig in and get some more detail on the issue).

[2017-05-02 06:45] Cheeseness commented on #181
I think BasicMenu.cs is dead code now? Makes sense to remove it from the project entirely if it's not being used.

[2017-05-02 06:52] fragmental commented on #181
Probably.  We left BasicMenu there as a backup in case we couldn't get the new gui up and running before the end of AF, but it's superfluous now.

Still, I'd be more comfortable waiting on word from @jctwood before removing it entirely from the project.

[2017-05-02 06:54] Cheeseness commented on #179
I'm pretty certain it's just that the ObstacleNetworking component's registered things aren't getting cleared when returning to the menu (probably worth making sure nothing's registered on map load so that we can be guaranteed of a clean slate).

Best way to address this is to probably set all the delegates' values to null in a Start() function in ObstacleNetworking.cs, I suspect?

[2017-05-02 07:01] Cheeseness commented on #181
It makes sense to remove unused stuff as part of PRs. We can always grab it from the repo history if we need to check stuff or revert changes.

No rush on this one. It's not a critical issue - just something to do to avoid confusion in the future.

[2017-05-02 07:12] fragmental commented on #179
I just tried this and it didn't seem to work.

[2017-05-02 07:14] jctwizard commented on #181
Just woke up those are dead as Fragmental said they were there in the case
of a backup.
On Tue, 2 May 2017 at 08:01, Cheeseness <notifications@github.com> wrote:

[2017-05-02 07:17] jctwizard commented on #180
Ah wow I did not realise this script had don't destroy on load. I see no
reason it would need it.
On Tue, 2 May 2017 at 07:08, Stewart Martin <notifications@github.com>
wrote:

[2017-05-02 08:20] fragmental commented on #151
well, the musicIsPlaying bool is always true, because nothing ever sets it to false.

I am interested to know if musicSource.isPlaying is true or false, as well.  I'll probably add Debug.Log for it that can get called on a button press so the next time I see the music stop, I can press the button and it will tell me.

[2017-05-02 09:29] ghost commented on #179
we register some event hooks here that might need to be unregistered: https://github.com/Double-Fine-Game-Club/pongball/commit/01cb4599c69eacc00e4d44ec8b2d0dbb16e9cc38#diff-c15b1ff61f4d0af4af6f07c825e9a6edR20

And I also think I just spotted a bug here: https://github.com/Double-Fine-Game-Club/pongball/commit/01cb4599c69eacc00e4d44ec8b2d0dbb16e9cc38#diff-c15b1ff61f4d0af4af6f07c825e9a6edR32

That s

[2017-05-02 18:47] fragmental commented on #172
What does variants currently do?  I tried a few different settings with a few different tables and was not able to find any difference.

[2017-05-03 03:39] Cheeseness commented on #172
They change the models used by the table (this is still broken when using the `Exit to menu` button, I hope you're not still using that :D ). Right now that's pretty much just bumpers, but longer term, I see that expanding to encompass rollover targets/lightpads, speed pads, spinners and other obstacles (not ramps - they're too table specific).

Right now, kednar's uses kgunn's bumpers (the bumper

[2017-05-03 03:57] Cheeseness commented on #179
Ah, of course not. ObstacleNetworking is persisting between play sessions. The delegates just need to be cleared/unregistered like lightsoda said.

Reading up, I see recommendations to set delegates to null inside the relevant class (ObstacleNetworking). Exposing a function that does that which can be called just prior to instantiating the table would be the way to go.

[2017-05-03 05:34] Cheeseness commented on #179
In the meantime, I've disabled the exit to menu button in the humble_release branch and will push out new builds to go up to Humble this afternoon (there's been some delay with getting Pongball stuff up, so maybe we can squeeze that quick fix in)

[2017-05-03 06:53] #151 closed

[2017-05-03 06:54] Cheeseness commented on #167
Resolved by #177

[2017-05-03 06:54] #167 closed

[2017-05-03 21:22] fragmental commented on #179
I tried this, and it definitely did fix the scoring on exit to menu, but interestingly, it also completely removed the spinner when the scene was reloaded.

https://www.evernote.com/l/ATpEa53z_ZlKYqwIPlvOwfN3f9iU3vjWHdwB/image.png

[2017-05-03 23:40] fragmental opened #186 "Exit to Menu button issues"
I can add a new exit to menu button to a pause screen(#150) but the backend code that exits to the menu will be the same regardless of whether the button is ongui or ugui or where it's located.  So I thought I would try to fix what we have now, first.

After changing the += to a -= in [SpinnerActivator.cs](https://github.com/Double-Fine-Game-Club/pongball/commit/01cb4599c69eacc00e4d44ec8b2d0dbb16e

[2017-05-04 00:26] fragmental commented on #25
This seems to be ok now.  I suspect it might have been related to high frame rate and ongui (not to be confused with UGUI) elements being called twice per frame(that's just the way they were designed).  So, I'm going to go ahead and close this for now.

[2017-05-04 00:26] #25 closed

[2017-05-04 00:31] Cheeseness commented on #25
Awesome, glad to hear that's laid to rest :)

[2017-05-04 06:14] fragmental opened #187 "Add Kednar's bumper to Kednar's Variant"
I exported new bumper.fbx from @kednar 's table fbx file, and then imported it into maya. Set the correct asset labels for the variant-kednar folder(I had to add a new one), but for some reason I don't understand the bumpers won't show up and, if you check them they say the mesh is missing.

here's a branch with the changes
https://github.com/fragmental/pongball/tree/AddKednarBumperToVariants

and

[2017-05-04 19:59] fragmental commented on #187
Did I miss a step, or something, @lightsoda ?

[2017-05-06 02:29] #181 closed

[2017-05-08 09:28] ghost commented on #187
The only potential mismatch I can see, are the materials. I can't for sure say if that's what's causing issues though, but variants are _very_ picky about everything being named and linked correctly. I would probably look into using prefabs, instead of meshes.

[2017-05-08 22:22] fragmental commented on #187
I tried taking the bumper from one of the other variants and putting it in the kednar variant folder, and it still had the same issue where it said the mesh was missing.  This makes me think that I must have failed in the creation of the new variant, somehow.